<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Daily `make fetch` at 18:30 local time (after the North American close); installed by `make schedule`. -->
<plist version="1.0">
<dict>
  <key>Label</key><string>com.advisorcopilot.fetch</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string><string>-lc</string>
    <string>cd "__REPO__" &amp;&amp; set -a &amp;&amp; . ./.env &amp;&amp; set +a &amp;&amp; make fetch &gt;&gt; runs/fetch.log 2&gt;&amp;1</string>
  </array>
  <key>StartCalendarInterval</key><dict><key>Hour</key><integer>18</integer><key>Minute</key><integer>30</integer></dict>
</dict>
</plist>
